
@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';
@use 'variables' as v;
@use 'functions' as f;

@mixin screen($bp, $type: map.get(v.$design, v.$type)) {
  $breakpoint: f.breakpoint($bp);

  @if $type == max {
    @media (#{$type}-width: #{$breakpoint - 1}px) {
      @content;
    }
  }

  @else if $type == min {
    @media (#{$type}-width: #{$breakpoint}px) {
      @content;
    }
  }
}

// utilities
@mixin inset($offset) {
  position: absolute;
  inset: $offset;
  @supports not (inset: 0) {
    $edge: f.inset-syntax($offset);
    @each $dir, $value in $edge {
      #{$dir}: $value;
    }
  }

  @include support-ie {
    $edge: f.inset-syntax($offset);
    @each $dir, $value in $edge {
      #{$dir}: $value;
    }
  }
}

@mixin support-ie () {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}