
@use 'sass:map';
@use 'sass:math';
@use 'variables' as v;
@use 'functions' as f;

@mixin screen($bp, $type: map.get(v.$design, v.$type)) {
  $breakpoint: f.breakpoint($bp);

  @if $type == max {
    @media (#{$type}-width: #{$breakpoint - 1}px) {
      @content;
    }
  }

  @else if $type == min {
    @media (#{$type}-width: #{$breakpoint}px) {
      @content;
    }
  }
}

// utilities
@mixin inset($offset) {
  position: absolute;
  inset: $offset;

  @include supports('not (inset: 0)') {
    $edge: f.inset-syntax($offset);
    @each $dir, $value in $edge {
      #{$dir}: $value;
    }
  }
}

@mixin support-ie() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin supports ($condition) {
  @supports #{$condition} {
    @content;
  }

  @include support-ie {
    @content;
  }
}

@mixin aspect-ratio($width, $height, $child: pseudo) {
  @if ($child == pseudo) {
    &::after {
      display: block;
      padding-top: math.percentage($height / $width);
      content: '';
    }
  } @else {
    #{$child} {
      padding-top: math.percentage($height / $width);
    }
  }
}
