@use '../abstract' as *;

@font-face {
  font-family: 'Microsoft JhengHei Modify';
  unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local('Microsoft JhengHei');
}

html {
  font-size: 10px;
}

body {
  min-width: 320px;
  font-family: Arial, 'Microsoft JhengHei Modify',
    'Microsoft JhengHei', Roboto, PingFangTC, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

input,
label,
select,
button {
  cursor: pointer;
}

.hello {
}

.card-2 {
  overflow: hidden;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  background-color: color(green, 100);

  .header {
    overflow: hidden;
    height: 150px;

    @include object-img((
      size: cover,
      src: 'https://images.unsplash.com/photo-1615524152519-cce424198a2e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80'
    ));
  }
}